# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

In [1]:
import pandas as pd
import numpy as np

nba = pd.read_csv('../files/nbastats2018-2019.csv')

# What was the average age of player in the league?

In [5]:
avgAge = nba['Age'].describe()['mean']
avgAge
# 25.9

25.900191938579656

# What player scored the most points?

In [64]:
mostPts = nba[['Name', 'Points']]
mostPts = mostPts.sort_values('Points', ascending = False).head().reset_index(drop=True)
mostPts
# James Harden

                    Name  Points
0           James Harden    36.1
1            Paul George    28.0
2  Giannis Antetokounmpo    27.7
3            Joel Embiid    27.5
4           LeBron James    27.4

# What player had the most blocks during the season? Was it a post player (F/C)?

In [2]:
nba['Most Blocks'] = nba['Blocks'] * nba['G']
mostBlks = nba['Most Blocks']
mostBlks = nba.sort_values('Most Blocks', ascending = False).head().reset_index(drop=True)
mostBlks = (mostBlks[['Name', 'Most Blocks']])
mostBlks
# Myles Turner, C

                Name  Most Blocks
0       Myles Turner        199.8
1        Rudy Gobert        186.3
2        Brook Lopez        178.2
3  Mitchell Robinson        158.4
4       JaVale McGee        150.0

# What player had the best 3-pt percentage?

In [65]:
best3pt = nba[['Name', 'FG3%']]
best3pt = best3pt.sort_values('FG3%',ascending = False).head().reset_index(drop=True)
best3pt
# Scott Machado

            Name   FG3%
0  Scott Machado  1.000
1  Jordan Sibert  1.000
2   Trevon Duval  1.000
3  Eric Moreland  1.000
4   Troy Caupain  0.667

# Who played the most minutes during the season

In [73]:
nba['mostMin'] = nba['MP'] * nba['G']
mostMin = nba.sort_values('mostMin',ascending = False).head()
mostMin = mostMin[['Name', 'mostMin']]
mostMin
# Bradley Beal, most total minutes (Minutes per game * Games played)

              Name  mostMin
37    Bradley Beal   3025.8
202   James Harden   2870.4
486   Kemba Walker   2861.8
208  Tobias Harris   2845.4
179    Paul George   2841.3

# What player given their player efficency rating was the clutchest during the season?

In [92]:
per = nba[['Name', 'PER']]
per = per.sort_values('PER',ascending = False).head().reset_index(drop=True)
per
# Zhou Qi

                    Name   PER
0                Zhou Qi  80.4
1           Trevon Duval  38.3
2         Gary Payton II  36.9
3          Alan Williams  32.9
4  Giannis Antetokounmpo  30.9

# What team had the youngest roster?

In [146]:
youngest = nba.groupby('Team', as_index=False).mean()[['Team', 'Age']]
youngest.sort_values('Age', ascending=True).reset_index(drop=True).head()
# Chicago Bulls

               Team        Age
0     Chicago Bulls  24.312500
1  Sacramento Kings  24.400000
2     Orlando Magic  24.533333
3   New York Knicks  24.625000
4      Phoenix Suns  24.761905

# Who is the highest paid player during the season?

In [216]:
# highestPaid = nba[['Name', 'Salary']]
# highestPaid = highestPaid.sort_values('Salary', ascending = False).head()
# highestPaid = highestPaid['Salary'].astype(float)
# highestPaid = highestPaid.sort_values(ascending=False)
# highestPaid

# max=nba[['Name', 'Salary']]
# max['Salary'] = max['Salary'].to_numeric(float)
# max.sort_values('Salary')
# max

# Salary has an object/string datatype instead of int/float and is not sorting correctly,
#I want to change Salary dtype to int/float but am not able to figure out how

                    Name   Salary
255         John Jenkins    99290
188      Devonte' Graham   988464
402        Dwight Powell  9631250
129  Matthew Dellavedova  9607500
157           Dante Exum  9600000
144         Jared Dudley  9530000
337    De'Anthony Melton   949000
259         B.J. Johnson    94742
117          Mitch Creek    94742
403        Norman Powell  9367200
412      Josh Richardson  9367200
247    Demetrius Jackson    92857
100        Chris Chiozza    90005
420          Rajon Rondo  9000000
53     Bogdan Bogdanovic  9000000
428       JaKarr Sampson    88531
351        E'Twaun Moore  8808685
283         Kosta Koufos  8739500
407       Chasson Randle   869094
480        Fred VanVleet  8653847

# At the end of a game, who WOULDN'T you want on the Free Throw Line?

In [102]:
worstFt = nba[['Name', 'FT%']]
worstFt = worstFt.sort_values('FT%',ascending = True).head(10).reset_index(drop=True)
worstFt

                 Name    FT%
0      Terrence Jones  0.000
1   Haywood Highsmith  0.000
2  Donatas Motiejunas  0.000
3       C.J. Williams  0.000
4         Jacob Evans  0.000
5         Dzanan Musa  0.000
6      Tahjere McCall  0.000
7      Melvin Frazier  0.250
8        Ray Spalding  0.333
9         Tyler Lydon  0.333